
body{
    background: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project1\Beers_Bands\assets/stadium.jpg) no-repeat;
    background: url(../assets/images/stadium.jpg) no-repeat;
    background-size: 1450px;
}


.jumbotron{
    background-color: white;
    border: 4px;
    border-radius: 20px;


    margin-top: 50px;
}

h1{
    text-align: center;
    font-family: 'New Rocker', cursive;
    color: black;
    text-shadow: 4px 4px 4px #aaa;
}

input {

    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.form-group{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    color: white;
    font-size: 25px;
}



#location{
    font-family: Arial, Helvetica, sans-serif;
}


#letsRock {
    margin-left: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
    
}

.map-holder {
    margin-left: 240px;
    margin-top: 20px;
    float: left;
}

.map-holder {
    margin-left: 240px;
    margin-top: 20px;
    float: left;
}

.jumbotron{
    text-align: center;
    
}

 .venue-btn{
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 15px 45px;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.8;
  border-color: #27496d;
} 

.venue-btn:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
    font-family: 'New Rocker', cursive;
    
}

.venue-btn:active {
    background-color: red;
} 

  .beer-holder{
      
      font-size: 16pt;
      background-color: white;
  }

  .venue{
      width: 1046px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
  }

 





